:root {

}

html,
body {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.main {

}

.equation {

}

.equation span {

}

.equation .first {

}

.equation .second {
	
}

.equation .plus {
	
}

.equation .equals {
	
}

.equation .answer {
	
}